footer {
  background-color: black;
  color: white;
  padding: 20px;
}
/* ---nag-conflict ang footer .container sa adevertisement css--- */
footer .container {
  /* height: 100px; */
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
footer .container .row {
  display: flex;
}
footer .container .col {
  display: flex;
  flex-direction: column;
}
footer #footer-container .col a {
  text-decoration: none;
  color: rgb(170, 72, 157);
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: large;
  letter-spacing: 2px;
}
footer #footer-container .col a:hover {
  color: rgb(240, 84, 219);
}
footer #footer-container .col .form-control {
  background-color: gray;
  border-color: none;
}

footer p {
  text-align: center;
}
