footer {
  background-color: black;
  color: white;
  padding: 20px;
}
footer .container .col {
  display: flex;
  flex-direction: column;
}
footer .container .col a {
  text-decoration: none;
  color: rgb(170, 72, 157);
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: large;
  letter-spacing: 2px;
}
footer .container .col a:hover {
  color: rgb(240, 84, 219);
}
footer .container .col .form-control {
  background-color: gray;
  border-color: none;
}

footer p {
  text-align: center;
}
