@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&display=swap");

header#navbar a {
  font-family: "Pacifico", cursive;
  color: white;
  letter-spacing: 2px;
}
header .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-bottom: 10px;
  font-family: "Pacifico", cursive;
  background-color: rgb(209, 77, 221);
  border-style: none;
}
