@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@600&family=Pacifico&family=Poiret+One&display=swap");
section#login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url(../../assets/imgs/bgimgsignin2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#login-container {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
section#login .card {
  /* max-width: 800px; */
  /* width: 600px; */
  /* height: 500px; */
  margin-right: 100px;
  border-radius: 30px;
  padding: 20px;
  font-weight: bolder;
  background-color: rgba(143, 10, 110, 0.8);
  font-family: "Poiret One", cursive;
  color: white;
}
/* --need to fix button as i can't center it or flex-end-- */
section#login .card .card-body button {
  border-radius: 20px;
  width: 100%;
}
section#login .card .card-body button.btn {
  max-width: 400px;
}
